<!-- 2nd nav menu to display when header nav is off screen -->
<div id="side-nav-menu" state="hide">
  <button
    id="side-nav-toggle"
    state="closed"
    title="Open navigation menu"
  >
    <i class="far fa-compass"></i>
  </button>
  <nav state="closed">
    <a href="#about">About</a>
    <br />
    <a href="#projects">Projects</a>
    <br />
    <a href="#contact">Contact</a>
    <br />
    <a
      href="./documents/Resume-David-Knittel.pdf"
      target="_blank"
      rel="noopener"
    >
      <span>Resume</span>
    </a>
  </nav>
</div>