<div class="project card">

  <div class="card-header">
    <h3>{{$ctrl.project.name}}</h3>
  </div>

  <div class="card-body">
    <img
      ng-attr-src="{{$ctrl.project.imageUrl}}"
      alt="{{$ctrl.project.name}} screenshot"
    />
  </div>

  <div class="card-body">
    <paragraph-pieces pieces="$ctrl.project.description.pieces"></paragraph-pieces>
  </div>

  <div class="card-body">
    <h6>My Role</h6>
    {{$ctrl.project.role === 1 ? 'Sole Developer' : $ctrl.project.role}}
  </div>

  <div class="card-body">
    <h6>Technologies Used</h6>
    <div class="row">
      <div class="col-6">
        <tech-list
          list-name="Front End"
          ng-if="$ctrl.project.tech.front.length > 0"
          tech-list="$ctrl.project.tech.front"
        ></tech-list>
        <br ng-if="$ctrl.project.tech.front.length > 0 && $ctrl.project.tech.apis.length > 0" />
        <tech-list
          list-name="Public APIs"
          ng-if="$ctrl.project.tech.apis.length > 0"
          tech-list="$ctrl.project.tech.apis"
        ></tech-list>
      </div>
      <div class="col-6">
        <tech-list
          list-name="Back End"
          ng-if="$ctrl.project.tech.back.length > 0"
          tech-list="$ctrl.project.tech.back"
        ></tech-list>
      </div>
    </div>
  </div>

  <div class="card-body" ng-repeat="note in $ctrl.project.notes">
    <h6>Note</h6>
    <paragraph-pieces pieces="note.pieces"></paragraph-pieces>
  </div>

  <div class="card-footer">
    <div class="btn-group" role="group" aria-label="links">
      <link-button
        type="repo"
        url="{{$ctrl.project.links.repo}}"
      ></link-button>
      <link-button
        ng-if="$ctrl.project.links.live"
        type="live"
        url="{{$ctrl.project.links.live}}"
      ></link-button>
      <link-button
        ng-if="$ctrl.project.links.video"
        type="video"
        url="{{$ctrl.project.links.video}}"
      ></link-button>
      <link-button
        type="readme"
        url="{{$ctrl.project.links.readme}}"
      ></link-button>
    </div>
  </div>

</div>