#page-footer {
  height: 40px;
  margin-top: 40px;
  background-color: #aaaaaa;
  box-shadow: inset 0px 4px 3px #666666;
  padding: 10px 20px 0 0;
  text-align: right;
}

#page-footer > a {
  color: #1e1e1e;
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: center;
}

#page-footer > a:hover {
  color: #040404;
  font-weight: 500;
  text-decoration: none;
}
