.cards.container {
  min-height: 500px;
}

/* ---------------------------------------- */
/* Breakpoints */

/* SMALL */
@media screen and (max-width: 767.5px) {
  .card-body:nth-child(2) {
    padding: 0;
  }

  .card-body:nth-child(3) {
    padding-top: 20px;
    border-top: 1px solid #444444;
  }

  .card-body > img {
    border: none;
  }
}

/* EXTRA SMALL (a little smaller than Bootstrap's XS) */
@media screen and (max-width: 551px) {
  .cards.container {
    width: 100%;
  }
}

/* SMALLEST (almost) */
@media screen and (max-width: 380px) {
  #projects {
    margin-left: 0;
    margin-right: 0;
  }
}