label.tech-list, h4.tech-list {
  color: #101010;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding: 0 6px;
  font-size: 1.05em;
}

ul.tech-list {
  list-style-type: none;
  line-height: 1.7;
  padding-left: calc(50% - 39px);
  text-align: left;
  margin-bottom: 0;
}

.project > .card-body .col-6:first-child ul {
  padding-left: calc(50% - 42px);
}

.project > .card-body .col-6:first-child ul.apis {
  padding-left: calc(50% - 47px);
}

ul.tech-list > li {
  padding-left: 6px;
  padding-right: 2px;
}

ul.tech-list > li > a {
  color: #202020;
}

ul.tech-list > li > a:hover {
  font-weight: 500;
  color: #202020;
  text-decoration: none;
}